SELECT COUNT(*) FROM (SELECT f.faculty_id, f.max_hours_per_week, COUNT(t.id) AS assigned FROM faculty f LEFT JOIN timetable t ON t.faculty_id = f.faculty_id AND t.semester = $1 GROUP BY f.faculty_id, f.max_hours_per_week HAVING COUNT(t.id) > f.max_hours_per_week) x;
